@import url('https://fonts.googleapid.com/css?family=poppins:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, rgb(225, 248, 220) 0%, rgb(255, 234, 208) 35%, rgb(255, 227, 200) 100%);
    font-family: 'poppins', sans-serif;
} 

form{
    width: 24%;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    margin-top: 150px;
}

.btn-primary{
    width: 100%;
    border: none;
    border-radius: 50ex;
    background: linear-gradient(90deg, rgb(225, 248, 220) 0%, rgb(255, 234, 208) 35%, rgb(255, 227, 200) 100%);
} 

.form-control{
    color: rgba(0, 0, 0, .87);
    border-bottom-color: rgba(0, 0, 0, .42);
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
}

h4{
    font-size: 2rem !important;
    font-weight: 700;
}

.form-label{
    font-family: 800 !important;
}

@media only screen and (max-width: 600px){
    form{
        width: 100% !important;
    }
}